<div id="container" class="containerentrada">
    <div class="container1entrada">
        <div>
            <button class="btnentrada">
                Novo
            </button>
        </div>
    </div>
    <div class="container2entrada">
        <table class="TableContainerentrada">
            <thead class="theadentrada">
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>
           
                @foreach (var item in ViewBag.entradas)
                {
                    <tr>
                        <td class="tdentrada">@item.codigo</td>
                        <td class="tdentrada">@item.descricao</td>
                        <td class="tdentrada">
                            <div class="IconesContainerentrada">
                                <img class="iconelixo" src="/imagens/trash-solid.svg"/>                               
                                <div class="Icone2entrada">
                                </div>
                            </div>
                        </td>
                    </tr>
               
                }
            </tbody>

        
        </table>
    </div>
    <div class="container3entrada">
        <div>
            <button class="btnentrada BtnAzulColorentrada">
                Voltar
            </button>
        </div>
    </div>
</div>

