<div id="container" class="containerfornecedor">
    <div class="container1fornecedor">
        <div>
            <button class="btnfornecedor">
                Novo
            </button>
        </div>
    </div>
    <div class="container2fornecedor">
        <table class="TableContainerfornecedor">
            <thead class="theadfornecedor">
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>
           
                @foreach (var item in ViewBag.fornecedores)
                {
                    <tr>
                        <td class="tdfornecedor">@item.codigo</td>
                        <td class="tdfornecedor">@item.descricao</td>
                        <td class="tdfornecedor">
                            <div class="IconesContainerfornecedor">
                                <img class="iconelixo" src="/imagens/trash-solid.svg"/>                               
                                <div class="Icone2fornecedor">
                                </div>
                            </div>
                        </td>
                    </tr>
               
                }
            </tbody>

        
        </table>
    </div>
    <div class="container3fornecedor">
        <div>
            <button class="btnfornecedor BtnAzulColorforncedor">
                Voltar
            </button>
        </div>
    </div>
</div>

