<div id="container" class="containersaida">
    <div class="container1saida">
        <div>
            <button class="btnsaida">
                Novo
            </button>
        </div>
    </div>
    <div class="container2saida">
        <table class="TableContainersaida">
            <thead class="theadsaida">
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>
           
                @foreach (var item in ViewBag.saida)
                {
                    <tr>
                        <td class="tdsaida">@item.codigo</td>
                        <td class="tdsaida">@item.descricao</td>
                        <td class="tdsaida">
                            <div class="IconesContainersaida">
                                <img class="iconelixo" src="/imagens/trash-solid.svg"/>                               
                                <div class="Icone2saida">
                                </div>
                            </div>
                        </td>
                    </tr>
               
                }
            </tbody>

        
        </table>
    </div>
    <div class="container3saida">
        <div>
            <button class="btnCategoria BtnAzulColorsaida">
                Voltar
            </button>
        </div>
    </div>
</div>

