<div id="container" class="containerProduto">
    <div class="container1Produto">
        <div>
            <button class="btnProduto">
                Novo
            </button>
        </div>
    </div>
    <div class="container2Produto">
        <table class="TableContainerProduto">
            <thead class="theadproduto">
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>
           
                @foreach (var item in ViewBag.Produto)
                {
                    <tr>
                        <td class="tdProduto">@item.codigo</td>
                        <td class="tdProduto">@item.descricao</td>
                        <td class="tdProduto">
                            <div class="IconesContainerProduto">
                                <img class="iconelixo" src="/imagens/trash-solid.svg"/>                               
                                <div class="IconeProduto">
                                </div>
                            </div>
                        </td>
                    </tr>
               
                }
            </tbody>

        
        </table>
    </div>
    <div class="container3Produto">
        <div>
            <button class="btnCategoria BtnAzulColorProduto">
                Voltar
            </button>
        </div>
    </div>
</div>

