<div id="container" class="containersecretaria">
    <div class="container1secretaria">
        <div>
            <button class="btnsecretaria">
                Novo
            </button>
        </div>
    </div>
    <div class="container2C">
        <table class="TableContainersecretaria">
            <thead class="theadCategoria">
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Opções
            </th>
            </thead>
            <tbody>
           
                @foreach (var item in ViewBag.secretaria)
                {
                    <tr>
                        <td class="tdsecretaria">@item.codigo</td>
                        <td class="tdsecretaria">@item.descricao</td>
                        <td class="tdsecretaria">
                            <div class="IconesContainersecretaria">
                                <img class="iconelixo" src="/imagens/trash-solid.svg"/>                               
                                <div class="Icone2secretaria">
                                </div>
                            </div>
                        </td>
                    </tr>
               
                }
            </tbody>

        
        </table>
    </div>
    <div class="container3secretaria">
        <div>
            <button class="btnCategoria BtnAzulColorCategoria">
                Voltar
            </button>
        </div>
    </div>
</div>

